.vagrant/
.DS_Store
*.log
*.box

apache/**/*
!apache/conf/.gitkeep
!apache/logs/.gitkeep

mysql/**/*
!mysql/data/.gitkeep
!mysql/logs/.gitkeep

php/**/*
!php/logs/.gitkeep

www/**/*
!www/index.php
!www/mail.php
!www/_browser/

*.sublime*